/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

/* Layout */
.layout {
  display: flex;
  height: 100vh;
}

/* Sidebar */
.sidebar {
  width: 250px;
  background-color: #1e293b;
  color: white;
  padding: 20px;
}

.sidebar h2 {
  margin-bottom: 30px;
}

.sidebar ul {
  list-style: none;
}

.sidebar li {
  margin-bottom: 15px;
  cursor: pointer;
}

/* Main */
.main {
  flex: 1;
  display: flex;
  flex-direction: column;
}

/* Navbar */
.navbar {
  background-color: #f1f5f9;
  padding: 15px 25px;
  display: flex;
  justify-content: space-between;
}

/* Content */
.content {
  padding: 25px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
}

/* Cards */
.card {
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
}

.card h4 {
  margin-bottom: 10px;
}

.card p {
  font-size: 24px;
  font-weight: bold;
}